

.sidebar-content {
    font-size: 0.9rem;
}

table td.action {
    min-width: 130px;
}

table td.check_in_date {
    min-width: 120px;
}

table td.check_out_date {
    min-width: 120px;
}

#ajax-loading{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1100;
  }